/* 

PUTIH #FFF
URANIAN BLUE #B7DCF9
ONYX #404040
ANTI FLASH WHITE #F5F6F8
 */

header {
    padding: 25px 50px 0px 30px;
    background-color: #363636;
    border-radius: 0px 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.brand-name {
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    text-decoration: none;
    margin: 0px 0px 50px 0px
}

.user-login {
    color: #fff;
    background-color: #363636;
    box-shadow: #fff 2px 2px 3px 1px;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    margin-bottom: 50px;
}

.user-login span {
    color: #6A7FDB;
    font-weight: 700;
}

.icon-link {
    font-size: 40px;
    color: #fff;
    margin-right: 10px;
}

.link {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    transition: all .3s;
}

.link:hover {
    background-color: #6a7fdb64;
    border-radius: 0px 10px;
    transform: scale(1.1);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.navbar-logout {
    margin-top: 100px;
    border-radius: 0px 0px 25px 0px;
    background-color: #6A7FDB;
    transition: all .3s;
}

.icon-link-logout {
    font-size: 30px;
    color: #363636;
    margin-right: 10px;
}

.link-logout {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #363636;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
}

.navbar-logout:hover {
    background-color: #fff;
    border-radius: 5px;
}