.main-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}