/* 

PUTIH #FFF
URANIAN BLUE #B7DCF9
ONYX #404040
ANTI FLASH WHITE #F5F6F8
 */

.main-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}